{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "semi": false,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "printWidth": 150,
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf"
}
